
/* Your CSS Code here. */
.main{
 Width: 200px;
	border-left-width:5px;
	border-left-color:green;
Background-color: purple;

Padding: 10px;
}
#heading{
font-size : 20px;
	color: white;
	text-decoration: underline;
}